<!doctype html>
<html lang=''>
<head>
   <meta charset='utf-8'>
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
   <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
   <script src="{{ url_for('static', filename='script.js') }}"></script>
   <title>Automation with Flask MVC</title>
</head>
<body>

   <div class="row">
      <div class="column">
        {% include 'menu.html' %}
      </div>
      <div class="column-right">

        <form method ="post" action="{{ url_for('LIST_task_value_type.view_LIST_task_value_type') }}">

            
            <div align="left">
                Task value type
            </div><br>

            <div align ="right">
                <input type="button" value="New Task value type" name="Btn_new" onclick="window.location.href='{{ url_for( 'NEW_task_value_type.view_NEW_task_value_type') }}';"/> 
                <input type="button" value="Import from CSV" name="Btn_import_from_CSV" onclick="window.location.href='{{ url_for( 'CSV_task_value_type.view_CSV_task_value_type') }}';"/> 
               
            </div>  <br/>
            <div align="center">
                <input type="text" name="search" id="search"/>
                <input type="submit" value="Search  task value type" name="Btn_search" /><br/><br/> 

            </div> <br>
            <div style="margin:0 auto;text-align:center;width:200px;border:1px solid #666; padding:10px;">
                Total rows: {{ countdata }}     
            </div>  <br>

            <div align="center">
                Limit rows: <input type="text" name="limit" id="limit" value="" size="10" />
                Start after row: <input type="text" name="start" id="start" value="" size="10" /> 
                <input type="submit" value="Get row" name="get_row" />
            </div>  <br/>   

            <table align="right" width ="1000" border = "1" cellspacing ="1" id="search_table" class="scrollmenu">

  
                <tr>
                    <th align ="center" width ="1%"> <input type="checkbox" value="" id="checkAll"/> </th>   
                  <!--  <th align="center" bgcolor="whitesmoke"> Search query folder name </th> -->
                  <th align="center" bgcolor="whitesmoke">  Task value type </th> 
                    <th align="center" bgcolor="whitesmoke"> Created datetime  </th>  
                    <th align="center" bgcolor="whitesmoke"> Modified datetime  </th> 
                    <th align="center" bgcolor="whitesmoke"> Edit  </th>  
                </tr>
                {% for row in listdata %}
                <tr>
                    <td><input type="checkbox" id="checkbox_{{row.0}}" name="checkbox" value="{{ row.0 }}"></td>   
                    <td>{{ row.1 }}</td>   
                    <td>{{ row.2 }}</td>   
                    <td>{{ row.3 }}</td>   

                    <td><a href="">Edit</a></td>   

                </tr>
                {% endfor %}
            </table>
						
        </div>	
    </form>
</div>
</div> 

<script >
    $(document).ready(function () {
        $("#checkAll").change(function () {
            $("input:checkbox").prop('checked', $(this).prop("checked"));
        });
  
    });
</script>
        
        

</body>	
</html>	
	
	  
				