<!doctype html>
<html lang=''>
<head>
   <meta charset='utf-8'>
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
   <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
   <script src="{{ url_for('static', filename='script.js') }}"></script>
   <title>Automation with Flask MVC</title>
</head>
<body>

   <div class="row">
      <div class="column">
        {% include 'menu.html' %}
      </div>
      <div class="column-right">

        <form method ="post" action="{{ url_for('LIST_bot_task.view_LIST_bot_task') }}" enctype="multipart/form-data" id="main_form">

			<div align="left">
                Bot Task
            </div><br>

            <div align ="right">
                <input type="submit" value="New bot task template" name="Btn_new_bot_task_template"/> 
                <input type="submit" value="Clone bot task" name="Btn_clone_bot_task" /> 
            </div>  
            
            <br/>
            <div style="  overflow:auto; padding:10px;margin:10px; ">
                <div style="float:left;">
			        <input type="text" name="text" id="text" value="" style="width:300px;"/>
                    <input type="submit" value="Search bot task type" name="search" /><br/><br/> 
                     
			        <input type="text" name="text1" id="text1" value="" style="width:300px;"/>
                    <input type="submit" value="Search bot task group" name="search1" /><br/><br/>  
                </div>

                <div style="float:right; ">
			        <input type="text" name="text2" id="text2" value="" style="width:300px;"/>
                    <input type="submit" value="Search bot task template" name="search2" /><br/><br/> 
                     
			        <input type="text" name="text3" id="text3" value="" style="width:300px;"/>
                    <input type="submit" value="Search bot task" name="search3" /><br/><br/>  
                </div>

            </div>

            <div style="text-align:center;">
                <label for="Total-rows">Total rows: {{ countdata }} </label><br>     
            </div> <br>
            
            <div align="center">
                Limit rows: <input type="text" name="limit" id="limit" value="" size="10" />
                Start after row: <input type="text" name="start" id="start" value="" size="10" /> 
                <input type="submit" value="Get row" name="get_row" />
            </div>  <br/>  

            <table align="right" width ="1000" border = "1" cellspacing ="1" id="search_table" class="scrollmenu">

                <tr>
                    <th align ="center" width ="1%"> <input type="checkbox" value="" id="checkAll"/> </th>   
              
                    <th align="center" bgcolor="whitesmoke"> Scene category </th> 
					<th align="center" bgcolor="whitesmoke"> Scene  </th> 	
                    <th align="center" bgcolor="whitesmoke"> Bot task group </th> 
					<th align="center" bgcolor="whitesmoke"> Bot task type  </th> 
					<th align="center" bgcolor="whitesmoke"> Bot task template </th> 
					<th align="center" bgcolor="whitesmoke"> Bot task  </th>
                    <th align="center" bgcolor="whitesmoke"> Task function count  </th>
                    <th align="center" bgcolor="whitesmoke"> Edit  </th>  
                </tr>
                {% for row in listdata %}
                <tr>
                    <td><input type="checkbox" id="checkbox_{{row.0}}" name="checkbox" value="{{ row.0 }}"></td>   
                    <td>{{ row.5 }}</td>   
                    <td>{{ row.5 }}</td>   
                    <td>{{ row.3 }}</td>   
                    <td>{{ row.3 }}</td>   
                    <td>{{ row.6 }}</td>   
                    <td>{{ row.1 }}</td>   
                    <td>{{ row.2 }}</td>   
                    <td></td> 

                </tr>
                {% endfor %}
            </table>
						
        </div>	
    </form>
</div>
</div> 

</body>	
</html>	