<!doctype html>
<html lang=''>
<head>
   <meta charset='utf-8'>
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
   <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
   <script src="{{ url_for('static', filename='script.js') }}"></script>
   <title>Automation with Flask MVC</title>
</head>
<body>

   <div class="row">
      <div class="column">
        {% include 'menu.html' %}
      </div>
      <div class="column-right">

        <form method ="post" action="{{ url_for( 'LIST_scene.view_LIST_scene') }}" enctype="multipart/form-data" id="main_form">
            <div align ="right">
                <input type="submit" value="Save & close" name="Btn_save" /> 
                <input type="button" value="Back" name="Btn_cancel" onclick="window.location.href='{{ url_for( 'LIST_scene.view_LIST_scene') }}';"/> 
            </div>  
			
			<div align="left">
                New scene 
            </div><br>
			
           

            <div>
                    <label> Name </label> 
                    <input type="text" name="name" id="name" value="" size="60"/> <br/>
                    <label> Desciption </label> 
                    <textarea cols="45" name="description" id="description"></textarea><br/>
                    <label> Scene Category  </label> 
                    <select id="scene_category" name="scene_category">
                        {% for row in listdataSC %}
                            <option value="{{ row.0 }}">{{ row.1 }}</option>
                        {% endfor %}
                    </select><br/>
            </div> 
            
            <br>


            </form>
        </div>
      </div> 
  
  
  
  </body>
  <html>